/venv/
/input/
/output/
/other_files/
/init_project_wells_jupyter/
/app/logs.log
.idea/
/app/local_parameters.py
/app/active_well_outline.py
/app/test.py
.ipynb_checkpoints/
init_well_position.ipynb
/картинки_ПФ/
/*.png
pickle.txt
/.*ipynb
Untitled.ipynb